* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: 'Open Sans', sans-serif;
}

input,
button {
  font-size: 16px;
}

.head_bar {
  position: sticky;
  top: 0;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #101820;
  color: #fff;
}

body {
  background-color: #eef1ee;
}
main {
  width: 80%;
  margin: 0 auto;
  padding: 16px;
}

.input_section {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
}

.input_section > h2 {
  text-align: center;
  color: #292929;
}

.input_section > form > .text_input {
  margin: 8px 0;
}

.input_section > form > button {
  background-color: #101820;
  color: white;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s all ease;
}

.input_section > form > button:hover {
  background-color: rgba(16, 24, 32, 0.9);
}

.input_section > form > button > span {
  font-weight: bold;
}

.input_section > form > .text_input > input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  background-color: transparent;
  border: 0;
  outline: 0;
}

/* .input_section > form > .input > label {
  color: #292929;
  font-weight: bold;
} */

.input_section > form > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.input_section > form > .input_inline > label {
  color: #292929;
  font-weight: bold;
  margin-right: 10px;
}

/* .search_section {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
} */

.search_section > form {
  width: 100%;
  display: flex;
  grid-template-columns: auto 1fr 0.5fr;
  gap: 12px;
}

.search_section > form > div > input {
  padding: 8px;
  line-height: 1.8;
  background-color: transparent;
  color: white;
  outline: 0;
  border: 0;
}

.text_input::after,
.search_input::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  border-radius: 80px;
  transition: all ease 0.5s;
}

.text_input:has(input:focus)::after,
.search_input:has(input:focus)::after {
  width: 100%;
}

.search_input::after {
  background-color: #eef1ee;
}

.text_input::after {
  background-color: #292929;
}

.search_section > form > button {
  background-color: transparent;
  color: white;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
}

.search_section > form > button:hover {
  background-color: rgba(100, 100, 100, 0.5);
}

.book_shelf {
  width: 100%;
  margin: 32px 0 0 0;
  border: 1px solid black;
  padding: 16px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.06);
}

.book_shelf > h2 {
  color: #292929;
}

.book_shelf > .book_list {
  padding: 16px;
}

.book_shelf > .book_list > .book_item {
  padding: 8px 16px 16px 16px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3,
p {
  margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action {
  display: flex;
  gap: 8px;
}

.book_shelf > .book_list > .book_item > .action > button {
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
  background-color: darkgreen;
  color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
  background-color: darkred;
  color: white;
}

.vertical-middle {
  display: inline-block;
  vertical-align: middle;
}

.search-icon {
  padding: 0 12px;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

@media screen and (max-width: 768px) {
  .flex {
    display: block;
  }
}
